# Step 6 Instacart Deriving and Aggregating Data

# Table of Contents
* [1. Introduction](#1.-Introduction)
* [2. Importing Data](#2.-Importing-Data)
    * [2.1 Importing Libraries](#2.1-Importing-Libraries)
    * [2.2 Importing Data](#2.2-Importing-Data)
* [3. Price Range Products](#3.-Price-Range-Products)
* [4. Busiest Days](#4.-Busiest-Days)
* [5. Busiest Period of Day](#5.-Busiest-Period-of-Day)
* [6. Region](#6.-Region)
* [7. Loyalty Flag](#7.-Loyalty-Flag)
* [8. Type of Spender](#8.-Type-of-Spender)
* [9. Usage Frequency](#9.-Usage-Frequency)
* [10. Exporting Data](#10.-Exporting-Data)

In order to satisfy the CFO's requirements, a thorough dataframe that excludes customers who have made fewer than five orders has been assembled in response to Instacart's research inquiry. To better meet the needs of different stakeholders, this dataframe will be further improved by adding aggregations and derived variables.

We'll create the following variables using the data that already exists in our dataframe:
- "price_range_products" to group items into three ranges: high, middle, and low.
- "busiest_days" to determine which days are the busiest, least busy, or regular.
- "busiest_period_of_day" to designate times of day when there are the most, most, or least orders.
- "region" to divide states up into different areas.
- "loyalty_flag" to indicate whether a customer is new, regular, or loyal.

Following the computation of an aggregate variable from an existing variable, these variables will be created:
- "type_of_spender" will be High and low spenders that are labeled in the field.
- "usage_frequency" with the following labels: regular, non-frequent, and frequent.

# 2. Importing Data

## 2.1 Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

# 2.2 Importing Data

In [3]:
path = r'C:\Users\kuohe\Instacart Basket Analysis 12-18-2023'

## Order Product Final

In [4]:
orders_products_final = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_final_step5.pkl'))

In [5]:
# Checking size
orders_products_final.shape

(30992966, 23)

In [6]:
# Checking Columns if imported correctly 
orders_products_final.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,...,First Name,Surname,Gender,STATE,Age,date_joined,No._of_dependants,family_status,income,max_order_number
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423,10

# 3. Price Range Products

The marketing strategy used to sell a 2-dollar candy bar and a 15-dollar box of Belgian chocolates differs greatly. For easier sorting, it makes sense to separate products into different price range categories. The following price criteria are used to determine the value of the "price_range_products" variable:


- Items in the "low-range" are those that cost five dollars or less.
- Products in the "mid-range" category cost more than five dollars but less than fifteen.
- Products costing more than fifteen dollars are classified as "high-range".

## Variable Evaluation

In [7]:
orders_products_final['prices'].describe()

count    3.098809e+07
mean     7.795331e+00
std      4.241884e+00
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      2.500000e+01
Name: prices, dtype: float64

In [8]:
# Checking for missing values with insull function

orders_products_final['prices'].isnull().sum()

4877

There are 4877 missing values

## Conditions

In [9]:
# For products that are more than 15 dollars
orders_products_final.loc[orders_products_final['prices'] > 15, 'price_range_products'] = 'high-range'

In [10]:
# For products between 5 and 15 dollars
orders_products_final.loc[(orders_products_final['prices'] <= 15) & (orders_products_final['prices'] > 5), 'price_range_products'] = 'mid-range'

In [11]:
# For products under 5 dollars
orders_products_final.loc[orders_products_final['prices'] <= 5, 'price_range_products'] = 'low-range'

## Output Evaluation

In [12]:
# Count values
orders_products_final['price_range_products'].value_counts(dropna = False)

price_range_products
mid-range     20920614
low-range      9674395
high-range      393080
nan               4877
Name: count, dtype: int64

In [13]:
# Checking the conditions set
orders_products_final.groupby('price_range_products').agg({'prices' : ['min', 'max']})

                     prices
                        min   max
price_range_products
high-range             15.1  25.0
low-range               1.0   5.0
mid-range               5.1  15.0
nan                     NaN   NaN

The conditions are set properly for the price range

In [14]:
# Checking results
orders_products_final[['prices', 'price_range_products']] .head(30)

    prices price_range_products
0      9.0            mid-range
1      9.0            mid-range
2      9.0            mid-range
3      9.0            mid-range
4      9.0            mid-range
5      9.0            mid-range
6      9.0            mid-range
7      9.0            mid-range
8      9.0            mid-range
9      9.0            mid-range
10    12.5            mid-range
11     4.4            low-range
12     4.4            low-range
13     4.4            low-range
14     4.4            low-range
15     4.4            low-range
16     4.4            low-range
17     4.4            low-range
18     4.4            low-range
19     4.4            low-range
20     4.4            low-range
21     4.7            low-range
22     4.7            low-range
23     1.0            low-range
24     1.0            low-range
25     3.0            low-range
26     3.0            low-range
27     3.0            low-range
28     3.0            low-range
29     3.0            low-range

# 4. Busiest Days

The stakeholders want to create a variable called "busiest_days" and want it to be defined by the order frequency that is recorded in "orders_day_of_week". The following will determine the criteria for this: 
- The "Busiest days" will be the two days with the highest frequency of orders.
- In addition, they want to determine which two days have the lowest frequency; these days will be referred to as the "least busiest days".
- "Regular days" will be the designation for the remaining days of the week.

For the "orders_day_of_week" there will be numbers corresponding to the day of the week:
- 0 = Saturday
- 1 = Sunday
- 2 = Monday
- 3 = Tuesday
- 4 = Wednesday
- 5 = Thursday
- 6 = Friday

In [15]:
# Observing statistics of the "orders_days_of_week"
orders_products_final['orders_day_of_week'].describe()

count    3.099297e+07
mean     2.741350e+00
std      2.089228e+00
min      0.000000e+00
25%      1.000000e+00
50%      3.000000e+00
75%      5.000000e+00
max      6.000000e+00
Name: orders_day_of_week, dtype: float64

In [17]:
# Getting a more accurate count of the days of the week
orders_products_final['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    5913859
1    5417064
6    4294962
5    4037350
2    4028494
3    3672954
4    3628283
Name: count, dtype: int64

## Conditions

In [18]:
# From the coiunt we can tell that the busiest day of the week are Saturday and Sunday, so we have to apply the labels manually for each day of the week
result = []

for value in orders_products_final["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")

  elif value == 4 or value == 3:
    result.append("Least busiest days")
    
  else:
    result.append("Regular days")

In [19]:
result

['Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Busiest days',
 'Least busiest days',
 'Regular days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Least busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Busiest days',
 'Regular days',
 'Regular days',
 'Regular days',
 'Least busiest days',
 'Regular days',
 ...]

In [20]:
# Since the CFO wants to know the busiest days of the week we will add it to the df
orders_products_final['busiest_days'] = result

## Output Evaluation

In [21]:
# Checking columns
orders_products_final.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,...,Gender,STATE,Age,date_joined,No._of_dependants,family_status,income,max_order_number,price_range_products,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Female,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Regular days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Female,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Female,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Female,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Female,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days

In [22]:
# Counting the values in the "busiest_day"
orders_products_final['busiest_days'].value_counts(dropna = False)

busiest_days
Regular days          12360806
Busiest days          11330923
Least busiest days     7301237
Name: count, dtype: int64

In [23]:
# Double checking if implemented into the dataframe correctly 
orders_products_final.groupby(['orders_day_of_week'])['busiest_days'].max()

orders_day_of_week
0          Busiest days
1          Busiest days
2          Regular days
3    Least busiest days
4    Least busiest days
5          Regular days
6          Regular days
Name: busiest_days, dtype: object

In [24]:
# Double checking if implemented into the dataframe correctly 
orders_products_final[['orders_day_of_week', 'busiest_days']].head(30)

    orders_day_of_week        busiest_days
0                    2        Regular days
1                    3  Least busiest days
2                    3  Least busiest days
3                    4  Least busiest days
4                    4  Least busiest days
5                    2        Regular days
6                    1        Busiest days
7                    1        Busiest days
8                    1        Busiest days
9                    4  Least busiest days
10                   2        Regular days
11                   2        Regular days
12                   3  Least busiest days
13                   3  Least busiest days
14                   4  Least busiest days
15                   4  Least busiest days
16                   2        Regular days
17                   1        Busiest days
18                   1        Busiest days
19                   1        Busiest days
20                   4  Least busiest days
21                   2        Regular days
22                   3  Least busiest days
23                   2        Regular days
24                   4  Least busiest days
25                   3  Least busiest days
26                   3  Least busiest days
27                   4  Least busiest days
28                   4  Least busiest days
29                   2        Regular days

# 5. Busiest Period of Day

Instacart's app frequently freezes during spikes in the number of orders placed at once. The senior technical officer at Instacart is trying to figure out when the busiest times of the day are in order to address this. They would rather group time slots into "Most orders," "Average orders," and "Fewest orders" rather than breaking it down hourly. Based on order frequencies documented in "order_hour_of_day," these times are categorized into a "busiest_period_of_day" variable according to these established standards:
- Time slots with more than 2.5 million orders will be marked as "Highest Orders," as they frequently result in the app freezing.
- Order volume below 100,000, which doesn't interfere with the app, will be referred to as "Fewest orders."
- Any other time will be categorized as "Normal Orders".

## Variable Evaluation

In [26]:
# Observing the column of "order_hour_of_day"
orders_products_final['order_hour_of_day'].describe()

count    3.099297e+07
mean     1.341081e+01
std      4.248825e+00
min      0.000000e+00
25%      1.000000e+01
50%      1.300000e+01
75%      1.600000e+01
max      2.300000e+01
Name: order_hour_of_day, dtype: float64

In [27]:
# We will print the column to get a more detailed representation of the values
orders_products_final['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2652317
11    2617229
14    2570213
13    2541527
15    2538253
12    2497997
16    2415839
9     2366037
17    1984069
8     1660891
18    1552540
19    1194918
20     931746
7      864069
21     763813
22     607550
23     384838
6      281307
0      208214
1      109705
5       84514
2       65743
4       50802
3       48835
Name: count, dtype: int64

In [28]:
# We are going to categorize the hours in the day according to the conditions in the that were given
result = []

for value in orders_products_final["order_hour_of_day"]:
  if value in [15, 13, 14, 11, 10]:
    result.append("Most orders")
  elif value in [5, 2, 4, 3]:
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [29]:
result

['Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Fewest orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Fewest orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Fewest orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Fewest orders',
 'Fewest orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Most orders',
 ...]

In [30]:
# We will add the "busiest_period_of_day" to the dataframe 
orders_products_final['busiest_period_of_day'] = result

## Output Evaluation

In [31]:
# Checking if it was added successfully 
orders_products_final.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,...,STATE,Age,date_joined,No._of_dependants,family_status,income,max_order_number,price_range_products,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Regular days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days,Average orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Alabama,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days,Most orders

In [32]:
# Double checking if it categorized correctly
orders_products_final['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Average orders    17823533
Most orders       12919539
Fewest orders       249894
Name: count, dtype: int64

In [33]:
# Checking the conditions if it was met successfully
orders_products_final.groupby(['order_hour_of_day'])['busiest_period_of_day'].max()

order_hour_of_day
0     Average orders
1     Average orders
2      Fewest orders
3      Fewest orders
4      Fewest orders
5      Fewest orders
6     Average orders
7     Average orders
8     Average orders
9     Average orders
10       Most orders
11       Most orders
12    Average orders
13       Most orders
14       Most orders
15       Most orders
16    Average orders
17    Average orders
18    Average orders
19    Average orders
20    Average orders
21    Average orders
22    Average orders
23    Average orders
Name: busiest_period_of_day, dtype: object

In [34]:
# Checking if it was implemented correctly
orders_products_final[['order_hour_of_day', 'busiest_period_of_day']].head(30)

    order_hour_of_day busiest_period_of_day
0                   8        Average orders
1                   7        Average orders
2                  12        Average orders
3                   7        Average orders
4                  15           Most orders
5                   7        Average orders
6                   9        Average orders
7                  14           Most orders
8                  16        Average orders
9                   8        Average orders
10                  8        Average orders
11                  8        Average orders
12                  7        Average orders
13                 12        Average orders
14                  7        Average orders
15                 15           Most orders
16                  7        Average orders
17                  9        Average orders
18                 14           Most orders
19                 16        Average orders
20                  8        Average orders
21                  8        Average orders
22                  7        Average orders
23                  8        Average orders
24                  7        Average orders
25                  7        Average orders
26                 12        Average orders
27                  7        Average orders
28                 15           Most orders
29                  7        Average orders

# 6. Region

Instacart's team aims to analyze customer patterns across various geographical locations. To facilitate this, they plan to segment the data by region, using a new "region" column derived from the existing "state" column. The criteria for regional segmentation will be based on the classifications found in the link: "List of regions of the United States" (https://simple.wikipedia.org/wiki/List_of_regions_of_the_United_States). The focus will be solely on creating regions, without delving into divisions. Additionally, a dictionary will be developed to associate each state with its corresponding region.

## Variable Evaluation

In [36]:
# Identify the number values in 'state'
unique_states = orders_products_final['STATE'].nunique()
print(f"The number of unique values in 'state': {unique_states}")

The number of unique values in 'state': 51

In [39]:
# Observing the names of the "STATE" column
unique_states_names = orders_products_final['STATE'].unique()
print("Names of unique states:")
for state_name in unique_states_names:
    print(state_name)

Names of unique states:
Alabama
Indiana
Louisiana
Montana
Oklahoma
Tennessee
Iowa
Ohio
Virginia
Connecticut
Oregon
South Dakota
Kentucky
Michigan
New Jersey
Hawaii
Minnesota
Illinois
Idaho
Kansas
North Carolina
Vermont
Delaware
Nebraska
Nevada
Arkansas
Georgia
District of Columbia
Utah
Alaska
Colorado
Florida
Rhode Island
Maine
South Carolina
Washington
Mississippi
California
Texas
Arizona
New Mexico
Maryland
Missouri
Wyoming
New Hampshire
Massachusetts
Pennsylvania
Wisconsin
West Virginia
North Dakota
New York

## Conditions

In [40]:
# Creating a label for each state assigned to a region.
state_to_region = {
    'Alabama': 'South',
    'Indiana': 'Midwest',
    'Louisiana': 'South',
    'Montana': 'West',
    'Oklahoma': 'South',
    'Tennessee': 'South',
    'Iowa': 'Midwest',
    'Ohio': 'Midwest',
    'Virginia': 'South',
    'Connecticut': 'Northeast',
    'Oregon': 'West',
    'South Dakota': 'Midwest',
    'Kentucky': 'South',
    'Michigan': 'Midwest',
    'New Jersey': 'Northeast',
    'Hawaii': 'West',
    'Minnesota': 'Midwest',
    'Illinois': 'Midwest',
    'Idaho': 'West',
    'Kansas': 'Midwest',
    'North Carolina': 'South',
    'Vermont': 'Northeast',
    'Delaware': 'South',
    'Nebraska': 'Midwest',
    'Nevada': 'West',
    'Arkansas': 'South',
    'Georgia': 'South',
    'District of Columbia': 'South',
    'Utah': 'West',
    'Alaska': 'West',
    'Colorado': 'West',
    'Florida': 'South',
    'Rhode Island': 'Northeast',
    'Maine': 'Northeast',
    'South Carolina': 'South',
    'Washington': 'West',
    'Mississippi': 'South',
    'California': 'West',
    'Texas': 'South',
    'Arizona': 'West',
    'New Mexico': 'West',
    'Maryland': 'South',
    'Missouri': 'Midwest',
    'Wyoming': 'West',
    'New Hampshire': 'Northeast',
    'Massachusetts': 'Northeast',
    'Pennsylvania': 'Northeast',
    'Wisconsin': 'Midwest',
    'West Virginia': 'Midwest',
    'North Dakota': 'Midwest',
    'New York': 'Northeast'
}

In [42]:
# Adding the region to the dataframe since the Instacart team asked to do so
orders_products_final['region'] = orders_products_final['STATE'].map(state_to_region)

In [43]:
# Double checking results
orders_products_final.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,...,Age,date_joined,No._of_dependants,family_status,income,max_order_number,price_range_products,busiest_days,busiest_period_of_day,region
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,31,2019-02-17,3,married,40423,10,mid-range,Regular days,Average orders,South
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days,Average orders,South
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days,Average orders,South
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days,Average orders,South
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,31,2019-02-17,3,married,40423,10,mid-range,Least busiest days,Most orders,South

It was implemented successfully

In [44]:
# Checking the parameters if it was successfully implemented
orders_products_final['region'].value_counts(dropna = False)

region
South        9737281
West         7934470
Midwest      7851135
Northeast    5470080
Name: count, dtype: int64

In [45]:
# Checking the parameters if it was successfully implemented
orders_products_final.groupby(['STATE'])['region'].max()

C:\Users\kuohe\AppData\Local\Temp\ipykernel_23096\4226961874.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  orders_products_final.groupby(['STATE'])['region'].max()

STATE
Alabama                     South
Alaska                       West
Arizona                      West
Arkansas                    South
California                   West
Colorado                     West
Connecticut             Northeast
Delaware                    South
District of Columbia        South
Florida                     South
Georgia                     South
Hawaii                       West
Idaho                        West
Illinois                  Midwest
Indiana                   Midwest
Iowa                      Midwest
Kansas                    Midwest
Kentucky                    South
Louisiana                   South
Maine                   Northeast
Maryland                    South
Massachusetts           Northeast
Michigan                  Midwest
Minnesota                 Midwest
Mississippi                 South
Missouri                  Midwest
Montana                      West
Nebraska                  Midwest
Nevada                       West
New Hampshire           Northeast
New Jersey              Northeast
New Mexico                   West
New York                Northeast
North Carolina              South
North Dakota              Midwest
Ohio                      Midwest
Oklahoma                    South
Oregon                       West
Pennsylvania            Northeast
Rhode Island            Northeast
South Carolina              South
South Dakota              Midwest
Tennessee                   South
Texas                       South
Utah                         West
Vermont                 Northeast
Virginia                    South
Washington                   West
West Virginia             Midwest
Wisconsin                 Midwest
Wyoming                      West
Name: region, dtype: object

# 7. Loyalty Flag

A bonus point system for Instacart's regular customers is something that the business strategy team is considering putting into place. These are the customers who buy products or use the service on a regular basis. Based on the "max_order_number" variable, a "loyalty_flag" will be created, meeting the following requirements:
- Customers will be labeled as "Loyal" if they have over 40 orders.
- Orders exceeding 10 but not exceeding 40 will be categorized as "Regular" by the customer.
- Orders under ten will be classified as "New" for customers.

In [46]:
# Observing "max_order_number"
orders_products_final['max_order_number'].describe()

count    3.099297e+07
mean     3.442599e+01
std      2.489448e+01
min      5.000000e+00
25%      1.400000e+01
50%      2.800000e+01
75%      4.800000e+01
max      9.900000e+01
Name: max_order_number, dtype: float64

In [47]:
# For customers over 40 orders are considered "Loyal"
orders_products_final.loc[orders_products_final['max_order_number'] > 40, 'loyalty_flag'] = 'Loyal'

In [48]:
# For customers between 40 and 10 orders are considered "Regular" customers
orders_products_final.loc[(orders_products_final['max_order_number'] <= 40) & (orders_products_final['max_order_number'] > 10), 'loyalty_flag'] = 'Regular'

In [49]:
# For customers under 10 orders they are considered "New" customers
orders_products_final.loc[orders_products_final['max_order_number'] <= 10, 'loyalty_flag'] = 'New'

# Output Evaluation

In [50]:
# Counting the values of â€œloyalty_flagâ€ 
orders_products_final['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular    15891172
Loyal      10293959
New         4807835
Name: count, dtype: int64

In [51]:
# Checking the parameters if set properly
orders_products_final.groupby('loyalty_flag').agg({'max_order_number' : ['min', 'max']})

             max_order_number
                          min max
loyalty_flag
Loyal                      41  99
New                         5  10
Regular                    11  40

It was implemented correctly

In [52]:
# Checking the parameters if set properly
orders_products_final[['loyalty_flag', 'max_order_number']].head()

  loyalty_flag  max_order_number
0          New                10
1          New                10
2          New                10
3          New                10
4          New                10

In [53]:
# Checking the parameters if set properly
orders_products_final[['loyalty_flag', 'max_order_number']].tail()

         loyalty_flag  max_order_number
32434480      Regular                26
32434481      Regular                26
32434482      Regular                26
32434483      Regular                26
32434484      Regular                26

# 8. Type of Spender

Instacart intends to modify their marketing tactics to accommodate the diverse spending habits of their clientele. The basis for this segmentation will be the typical cost of the goods that each user buys. Each user will be given a "spending flag" based on the following rules:
- Users will be labeled as "Low spenders" if their average purchase price is less than 10.
- Users will be labeled as "High spenders" if their average purchase price is $10 or higher.

## Aggregate Variable

In [55]:
# Determining the Average Purchase Price Per User = ("mean_price_per_user")
orders_products_final['mean_price_per_user'] = orders_products_final.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\kuohe\AppData\Local\Temp\ipykernel_23096\2226530204.py:2: FutureWarning: The provided callable <function mean at 0x000002833247BC40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  orders_products_final['mean_price_per_user'] = orders_products_final.groupby(['user_id'])['prices'].transform(np.mean)

In [56]:
# Checking results
orders_products_final.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,...,No._of_dependants,family_status,income,max_order_number,price_range_products,busiest_days,busiest_period_of_day,region,loyalty_flag,mean_price_per_user
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,3,married,40423,10,mid-range,Regular days,Average orders,South,New,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,3,married,40423,10,mid-range,Least busiest days,Average orders,South,New,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,3,married,40423,10,mid-range,Least busiest days,Average orders,South,New,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,3,married,40423,10,mid-range,Least busiest days,Average orders,South,New,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,3,married,40423,10,mid-range,Least busiest days,Most orders,South,New,6.367797

In [57]:
# Observing the statistics of "mean_price_per_user"
orders_products_final['mean_price_per_user'].describe()

count    3.099297e+07
mean     7.795333e+00
std      7.216319e-01
min      1.000000e+00
25%      7.389744e+00
50%      7.816998e+00
75%      8.228163e+00
max      2.011429e+01
Name: mean_price_per_user, dtype: float64

In [58]:
# Checking the aggregation of the mean for each user

orders_products_final.groupby('user_id').agg({'prices' : ['min', 'max', 'mean']})

        prices
           min   max      mean
user_id
1          1.0  14.0  6.367797
2          1.3  14.8  7.515897
3          1.3  14.4  8.197727
4          1.4  14.6  8.205556
7          1.1  23.2  7.466990
...        ...   ...       ...
206203     1.0  25.0  7.138655
206206     1.1  14.8  7.646667
206207     1.2  24.7  7.313453
206208     1.1  21.6  8.366617
206209     1.1  18.8  7.058915

[162633 rows x 3 columns]

## Conditions

In [59]:
# If the mean of the prices of product the user purchased was more than 10, then they will be considered "High Spender"
orders_products_final.loc[orders_products_final['mean_price_per_user'] >= 10, 'type_of_spender'] = 'High spender'

In [60]:
# If the mean of the prices of products the user purchased was lower than 10, then they will considered â€œLow spenderâ€
orders_products_final.loc[orders_products_final['mean_price_per_user'] < 10, 'type_of_spender'] = 'Low spender'

## Output Evaluation

In [61]:
# Counting the values of â€œtype_of_spenderâ€ 
orders_products_final['type_of_spender'].value_counts(dropna = False)

type_of_spender
Low spender     30894578
High spender       98388
Name: count, dtype: int64

In [62]:
# Double checking if the parameters we set were implemented successfully
orders_products_final.groupby('type_of_spender').agg({'mean_price_per_user' : ['min', 'max', 'mean']})

                mean_price_per_user
                                min        max       mean
type_of_spender
High spender                   10.0  20.114286  10.563224
Low spender                     1.0   9.998305   7.786518

In [63]:
# Checking results
orders_products_final.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,...,family_status,income,max_order_number,price_range_products,busiest_days,busiest_period_of_day,region,loyalty_flag,mean_price_per_user,type_of_spender
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,married,40423,10,mid-range,Regular days,Average orders,South,New,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,married,40423,10,mid-range,Least busiest days,Average orders,South,New,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,married,40423,10,mid-range,Least busiest days,Average orders,South,New,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,married,40423,10,mid-range,Least busiest days,Average orders,South,New,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,married,40423,10,mid-range,Least busiest days,Most orders,South,New,6.367797,Low spender

It was implemented correctly

# 9. Usage Frequency

The Instacart team intends to establish a distinction between regular and infrequent customers in order to improve the relevance of in-app notifications (such as recommending repeat purchases). A frequency flag based on the median value in the "days_since_prior_order" variable will be used to accomplish this. The following criteria are used to categorize this flag:
- Customers will be categorized as "Non-frequent customers" if their median "days_since_prior_order" is more than 20 days.
- In the event that the median is greater than 10 but less than 20 days, the client will be referred to as a "Regular customer."
- Customers will be classified as "Frequent customers" if their median "days_since_prior_order" is 10 days or less.

In [64]:
# Setting up a median for each user to observe how many users would have follow up orders
orders_products_final['median_days_since_prior_order'] = orders_products_final.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\kuohe\AppData\Local\Temp\ipykernel_23096\1459897671.py:2: FutureWarning: The provided callable <function median at 0x00000283325BC680> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  orders_products_final['median_days_since_prior_order'] = orders_products_final.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [65]:
# Checking results
orders_products_final.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,...,income,max_order_number,price_range_products,busiest_days,busiest_period_of_day,region,loyalty_flag,mean_price_per_user,type_of_spender,median_days_since_prior_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,40423,10,mid-range,Regular days,Average orders,South,New,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,40423,10,mid-range,Least busiest days,Average orders,South,New,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,40423,10,mid-range,Least busiest days,Average orders,South,New,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,40423,10,mid-range,Least busiest days,Average orders,South,New,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,40423,10,mid-range,Least busiest days,Most orders,South,New,6.367797,Low spender,20.5

In [66]:
# Observing the statistics for "median_days_since_prior_order"
orders_products_final['median_days_since_prior_order'].describe()

count    3.099297e+07
mean     9.957106e+00
std      6.665469e+00
min      0.000000e+00
25%      6.000000e+00
50%      7.000000e+00
75%      1.250000e+01
max      3.000000e+01
Name: median_days_since_prior_order, dtype: float64

In [67]:
# Checking the statistics in the data
orders_products_final.groupby('user_id').agg({'days_since_prior_order' : ['min', 'max', 'median']})

        days_since_prior_order
                           min   max median
user_id
1                          0.0  30.0   20.5
2                          3.0  30.0   13.0
3                          7.0  21.0   10.0
4                          0.0  21.0   20.0
7                          2.0  30.0    9.0
...                        ...   ...    ...
206203                    27.0  30.0   30.0
206206                     0.0  15.0    3.0
206207                     1.0  30.0   16.0
206208                     0.0  20.0    7.0
206209                     3.0  30.0   22.0

[162633 rows x 3 columns]

## Conditions

Now we set labels for customers

In [68]:
# If 'days_since_prior_order' has a median value greater than 20 days, the customer will be classified as 'Non-frequent customer'.
orders_products_final.loc[orders_products_final['median_days_since_prior_order'] > 20, 'usage_frequency'] = 'Non-frequent customer'

In [69]:
# Customers with a median 'days_since_prior_order' of 10 days or less will be designated as 'Frequent customers'.
orders_products_final.loc[orders_products_final['median_days_since_prior_order'] <= 10, 'usage_frequency'] = 'Frequent customer'

In [70]:
# "Customers whose median 'days_since_prior_order' is above 10 but not more than 20 days will be classified as 'Regular customers'."
orders_products_final.loc[(orders_products_final['median_days_since_prior_order'] > 10) & (orders_products_final['median_days_since_prior_order'] <= 20) , 'usage_frequency'] = 'Regular customer'

# Output Evaluation

In [71]:
# Counting the values of "usage_frequency"
orders_products_final['usage_frequency'].value_counts(dropna = False)

usage_frequency
Frequent customer        21222034
Regular customer          6873531
Non-frequent customer     2897401
Name: count, dtype: int64

In [72]:
# Checking the aggregations for accuracy

orders_products_final.groupby('usage_frequency').agg({'median_days_since_prior_order' : ['min', 'max', 'median']})

                      median_days_since_prior_order
                                                min   max median
usage_frequency
Frequent customer                               0.0  10.0    7.0
Non-frequent customer                          20.5  30.0   28.0
Regular customer                               10.5  20.0   14.0

In [73]:
# Checking Results
orders_products_final.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,...,max_order_number,price_range_products,busiest_days,busiest_period_of_day,region,loyalty_flag,mean_price_per_user,type_of_spender,median_days_since_prior_order,usage_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,10,mid-range,Regular days,Average orders,South,New,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,10,mid-range,Least busiest days,Average orders,South,New,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,10,mid-range,Least busiest days,Average orders,South,New,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,10,mid-range,Least busiest days,Average orders,South,New,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,10,mid-range,Least busiest days,Most orders,South,New,6.367797,Low spender,20.5,Non-frequent customer

# 10. Exporting Data

In [74]:
# Checking size before exporting
orders_products_final.shape

(30992966, 32)

In [75]:
# Exporting to prepared data folder
# Since this export is going to be a large file, the pickle format is preferrred
orders_products_final.to_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_der_step6.pkl'))